<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>URLs List</title>
    </head>
    <body>
        <div>
            <h2>
                <ul>URLs List</ul>
            </h2>
        </div> 
        <div>
            <ul>
                <%for (var url in urlArray){%>
                  <li><%=JSON.stringify(Object.values(urlArray[url]))%></li>    
                <%}%>
            </ul>
        </div>
        <div>
            <table>
                <tr>
                   <th>Original URL</th><th>Shortened URL</th>
                   <%for (var url in Object.values(urlArray)){%>
                    <tr>
                        <%=url%>
                    </tr>
                    <%}%>
                </tr>
            </table>
        </div>
    </body>
</html> 