<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/app.css">
        <title>Users List</title>
    </head>
    <body>
        <div>
            <h2>
                <ul>Users List</ul>
            </h2>
        </div> 
        <div>
            <% if(userArray.length){ %>
            <table style="width: 100%;border: 1px solid black;">
                <tr>
                   <th style="border: 1px solid black;">User ID</th>
                   <th style="border: 1px solid black;">Name</th>
                   <th style="border: 1px solid black;">Email</th>
                   <th style="border: 1px solid black;">Role ID</th>
                   <th style="border: 1px solid black;">Account ID</th>
                </tr>
                <%for (let i = 0; i < userArray.length; i++){%>
                    <tr>
                        <td style="border: 1px solid black;text-align: center;"><%=userArray[i].id%></td>
                        <td style="border: 1px solid black;text-align: center"><%=userArray[i].userName%></td>
                        <td style="border: 1px solid black;text-align: center"><%=userArray[i].email%></td>
                        <td style="border: 1px solid black;text-align: center"><%=userArray[i].roleId%></td>
                        <td style="border: 1px solid black;text-align: center"><%=userArray[i].accountId%></td>
                    </tr>
                <%}%>
            </table>
            <% } %>
        </div>
    </body>
</html> 